#divLogin{
    //background-color: rgb(18, 144, 175);
    height: 100%;
    width: 100%;
    position: fixed;
    background-size:cover;
}

#divLoginInside{
    text-align: center;
    border: solid 1px rgba(0,0,0,0.32);
    padding: 25px 10px;
    margin-top: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 13px 17px 5px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 13px 17px 5px 1px rgba(0,0,0,0.32);
    box-shadow: 13px 17px 5px 1px rgba(0,0,0,0.32);
    background-color: white;
}
#titleLogin{
    color:rgb(18, 144, 175);
    padding-bottom: 10PX;
    border-bottom:solid 3px rgb(18, 144, 175);
}


.imgLogin{
    margin:10px;
    object-fit: cover;
    height: 30%;
    width: 30%;
    border: solid 1px gray;
    border-radius: 5px;
}