.divModalScheduleAddMovieMovie{
    float: left;
    border: solid 1px #19BDC8;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: .3s;
}

.divModalScheduleAddMovieMovie:hover{
    color: white;
    background-color: #19BDC8;
}