#divNotFound{
    border: solid 1px #5C5B99;
    padding: 25px 10px;
    margin-top: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 13px 17px 5px 1px rgba(0,0,0,0.32);
    -moz-box-shadow: 13px 17px 5px 1px rgba(0,0,0,0.32);
    box-shadow: 13px 17px 5px 1px rgba(0,0,0,0.32);
}
#titleNotFoundMain{
    color:gray;
    padding-bottom: 10PX;
    border-bottom:solid 2px #5C5B99;
    font-size: 40px
}

#titleNotFound{
    color:gray;
    padding-bottom: 10PX;
    text-align: center;
}

#divNotFound{
    /* background-color: #5C5B99; */
}