.divScheduleRoomMain{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    transition: .5s;
}

.divScheduleBtnOptions{
    padding: 10px;
    text-align: right;
}